<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Login & Reg | Success</title>
</head>
<body>
    <div class="container">
        <h1>Success! Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
        <p>Successfully registered(or logged in)!</p>
        <form action="{% url 'logreg:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Click here to log out" class="btn-danger">
        </form>
    </div>
</body>
</html>